@mixin pulse-animation($color: $color-dark-green, $opacity: 0.4) {
    animation: pulse 3s infinite;

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0px rgba($color, $opacity);
        }
        100% {
            box-shadow: 0 0 0 12px rgba($color, 0);
        }
    }
}

@mixin float-animation($from: 30px, $to: 20px, $duration: 0.3s) {
    animation: float $duration ease forwards;
    @keyframes float {
        from {
            transform: translate3d(0, $from, 0);
        }
        to {
            transform: translate3d(0, $to, 0);
        }
    }
}
