$color-white: #f8f7f5;
$color-grey: #d7d0d5;
$color-black: #1a1e16;

$color-light-green: #95a878;
$color-green: #5d702f;
$color-dark-green: #30431f;

$color-beige: #e6bf5f;
$color-brown: #994814;
$color-dark-brown: #56341a;
