@font-face {
    font-family: Inconsolata;
    src: url(../../fonts/inconsolata/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: Inconsolata-Light;
    src: url(../../fonts/inconsolata/Inconsolata-Bold.ttf);
}

@font-face {
    font-family: Inconsolata-Medium;
    src: url(../../fonts/inconsolata/Inconsolata-Medium.ttf);
}

@font-face {
    font-family: Inconsolata-Bold;
    src: url(../../fonts/inconsolata/Inconsolata-Bold.ttf);
}

@font-face {
    font-family: Tillana;
    src: url(../../fonts/tillana/Tillana-Regular.ttf);
}

@font-face {
    font-family: Tillana-Medium;
    src: url(../../fonts/tillana/Tillana-Medium.ttf);
}

@font-face {
    font-family: Tillana-Bold;
    src: url(../../fonts/tillana/Tillana-Bold.ttf);
}