$spacing-xs: 10px;
$spacing-s: 20px;
$spacing-m: 40px;
$spacing-l: 60px;

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text-break() {
    word-wrap: break-word;
    hyphens: auto;
}

@mixin scroll-container($orientation: to right) {
    scroll-behavior: smooth;
    scrollbar-width: none;
    mask-image: linear-gradient(
      $orientation,
      transparent 0%,
      #000 3%,
      #000 97%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      $orientation,
      transparent 0%,
      #000 3%,
      #000 97%,
      transparent
    );

    &::-webkit-scrollbar {
        display: none;
    }
}