$spacing-xs: 10px;
$spacing-s: 20px;
$spacing-m: 40px;
$spacing-l: 60px;

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text-break() {
    word-wrap: break-word;
    hyphens: auto;
}
