$text-xs: 12px;
$text-s: 14px;
$text-m: 16px;
$text-l: 18px;
$text-xl: 22px; 

$headline-l: 28px;
$headline-xl: 34px;
$headline-xxl: 40px;

$outfit-extra-light: 200;
$outfit-light: 300;
$outfit-regular: 400;
$outfit-medium: 500;
$outfit-semi-bold: 600;

$tillana-regular: 400;
$tillana-medium: 500;
$tillana-semi-bold: 600;
$tillana-bold: 700;

$inconsolata-light: 300;
$inconsolata-regular: 400;
$inconsolata-medium: 500;
$inconsolata-semi-bold: 600;

$font-outfit: 'Outfit', sans-serif;
$font-tillana: 'Tillana', cursive;
$font-inconsolata: 'Inconsolata', monospace;
