body {
    margin: 0;
    font-family: $font-outfit;

    @include color-scheme(light) {
        background: $color-white;
        color: $color-black;
    }

    @include color-scheme(dark) {
        background: $color-black-background;
        color: $color-white;
    }
}

#app {
    min-height: 100vh;
    text-align: center;
}

input, button {
    font-family: $font-outfit;
    font-weight: 300;
}

p, span, a {
    font-family: $font-outfit;
    font-weight: 300;
}

h1 {
    font-weight: 500;
    font-size: $headline-xl;
    margin-bottom: 0;
}

h2 {
    font-weight: 500;
    font-size: $headline-l;
}

section {
    margin: $spacing-l 0;
    width: 100%;
}

a {
    text-decoration: underline;
    cursor: pointer;

    @include color-scheme(dark) {
        color: $color-dark-green;
         &:hover {
             color: $color-light-green;
         }
     }
   
   @include color-scheme(dark) {
       color: $color-grey;
        &:hover {
            color: $color-white;
        }
    }
}
