body {
    margin: 0;
    font-family: $font-outfit;
    background: $color-white;
    color: $color-black;

    @include color-scheme(dark) {
        background: $color-black-background;
        color: $color-white;
    }
}

#app {
    min-height: 100vh;
    text-align: center;
}

input, button {
    font-family: $font-outfit;
    font-weight: 300;
}

p, span, a {
    font-family: $font-outfit;
    font-weight: 300;
}

h1 {
    font-weight: 500;
    font-size: $headline-xl;
}

h2 {
    font-weight: 500;
    font-size: $headline-l;
}

section {
    margin: $spacing-l 0;
    width: 100%;
}

i {
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        opacity: 0.4;
    }
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: $color-dark-green;
    &:hover {
        color: $color-light-green;
    }

    &.button {
        display: flex;
        font-weight: 300;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
   
   @include color-scheme(dark) {
       color: $color-grey;
        &:hover {
            color: $color-white;
        }
    }
}

.uppercase {
    text-transform: uppercase;
}
