button,
.button {
    background: transparent;
    border-radius: $border-radius-m;
    font-size: $text-m;
    font-weight: $outfit-light;
    display: inline-block;
    min-height: 35px;
    width: $pref-width;
    padding: $spacing-xs;
    @include box-shadow();
    @include border();

    &:hover {
        font-weight: $outfit-regular;
    }
}

.button {
    &--small {
        max-width: $width-xs;
    }

    &--medium {
        min-height: 45px;
        max-width: $width-s;
    }

    &--large {
        width: $pref-width;
        max-width: $width-m;
        min-height: 70px;
        @include box-shadow();
    }

    &--pulse {
        border: 0;
        font-size: $text-l;
        @include background-secondary();
        @include color-primary-inverted();
        @include pulse-animation($color-dark-green);

        @include color-scheme(dark) {
            @include pulse-animation($color-white, 0.3);

            &:hover {
                color: $color-green;
            }
        }
    }

    &--filled {
        @include background-secondary();
        @include color-primary-inverted();
        @include box-shadow();
    }

    &__upload {
        min-height: 0;
    
        &:hover {
          color: $color-beige;
        }
      }
    
    &__exit {
        &:hover,
        &:active {
            @include color-error();
        }
    }
    
    &__confirm {
        &:hover,
        &:active {
            color: $color-green;
        }
    }

    &__ready {
        background-color: $color-light-green;
        color: rgb(56, 56, 56);
    }

    &__icon {
        background: transparent;
        font-size: $headline-xl;
        border: none;
        width: auto;
        min-height: auto;
        box-shadow: none;

        &--circle {
            @include flex-center();
            border: none;
            border-radius: 100%;
            width: 80px;
            height: 80px;
            min-height: auto;
            padding: 15px;
            font-size: $headline-xl;
        }
    }
}
