button,
.button {
    background: transparent;
    border-radius: 8px;
    font-size: $text-m;
    font-weight: 300;
    font-weight: 300;
    display: inline-block;
    border: 1px solid $color-grey;
    cursor: pointer;
    min-height: 35px;
    width: 80%;
    padding: 10px 12px;

    &:hover {
        font-weight: 400;
    }

    @include color-scheme(light) {
        box-shadow: 5px 5px 0 0 rgba(black, 0.03);
    }

    @include color-scheme(dark) {
        box-shadow: 5px 5px 0 0 rgba(grey, 0.03);
    }
}

.button {
    &--small {
        max-width: 200px;
    }

    &--medium {
        min-height: 45px;
        max-width: 350px;
    }

    &--large {
        width: 80%;
        max-width: 500px;
        min-height: 70px;
    }

    &__upload {
        min-height: 0;
    
        &:hover {
          color: $color-beige;
        }
      }
    
    &__exit {
        &:hover,
        &:active {
            color: darkred;
        }
    }
    
    &__confirm {
        &:hover,
        &:active {
            color: $color-green;
        }
    }

    @include color-scheme(light) {
        &--large {
            box-shadow: 10px 10px 0 0 rgba(black, 0.03);
        }

        &--filled {
            background: $color-dark-green;
            color: $color-white;
            box-shadow: 5px 5px 0 0 rgba(black, 0.04);
        }
    }

    @include color-scheme(dark) {
        &--large {
            box-shadow: 10px 10px 0 0 rgba(grey, 0.03);
        }
        
        &--filled {
            background: $color-white;
            color: $color-black;
            box-shadow: 5px 5px 0 0 rgba(grey, 0.04);
        }
    }
}