input {
    border: 1px solid $color-grey;
    background: transparent;
    border-radius: 8px;
    font-weight: 300;
    font-size: $text-m;
    width: 80%;
    display: inline-block;
    padding: 10px 12px;
    cursor: pointer;

    &::placeholder,
    &::-moz-placeholder {
        opacity: 1;
        
        @include color-scheme(light) {
            color: $color-green;
        }

        @include color-scheme(dark) {
            color: $color-grey;
        }
    }
    
    &:focus {
        &::placeholder,
        &::-moz-placeholder {
            opacity: 0;
        }
    }

    &:focus:invalid {
        @include color-scheme(light) {
            border-color: darkred;
        }
    
        @include color-scheme(dark) {
            border-color: hotpink;
        }
    }

    &.input {
        &--small {
        min-height: 20px;
        max-width: 300px;

        }
        &--medium {
            max-width: 350px;
        }
        &--large {
            min-height: 40px;
            max-width: 500px;
        }
    }
}

.error {
    @include color-scheme(light) {
        color: darkred;
    }

    @include color-scheme(dark) {
        color: hotpink;
    }
}
