input {
    @include border();
    background: transparent;
    border-radius: $border-radius-m;
    font-weight: $outfit-light;
    font-size: $text-m;
    width: $pref-width;
    display: inline-block;
    padding: 10px 12px;

    &::placeholder,
    &::-moz-placeholder {
        opacity: 1;
        @include color-secondary();
    }
    
    &:focus {
        &::placeholder,
        &::-moz-placeholder {
            opacity: 0;
        }
    }

    &:focus:invalid {
        @include color-error();
    }

    &.input {
        &--small {
        min-height: 20px;
        max-width: $width-xs;

        }
        &--medium {
            max-width: $width-s;
        }
        &--large {
            min-height: 40px;
            max-width: $width-m;
        }
    }
}

.error {
    @include color-error();
}
