.column-wrapper {
    @include flex-center($direction: column);
    width: 100%;
    height: 100%;

    > * {
        margin-bottom: $spacing-s;
    }
}

.flex-container {
    @include flex-center($direction: column);
    width: 100%;
    height: 100vh;
}

.overlay {
    @include flex-center();
    background-color: rgba(0, 0, 0, 0.6);
    color: $color-white;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 15;
    left: 0;
    top: 0;
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.container--fixed {
    height: 100vh;
    overflow: hidden;
}
