$headline-xl: 34px;
$headline-l: 28px;
$headline-s: 18px;

$text-xl: 20px;
$text-l: 18px;
$text-m: 16px;
$text-s: 14px;
$text-xs: 12px;

$color-nearly-white: #dddddd;
$color-dark-grey: #2c3e50;
$color-background: #a9a9a9;

$spacing-xs: 10px;
$spacing-s: 20px;
$spacing-m: 40px;
$spacing-l: 60px;