$headline-xl: 34px;
$headline-l: 28px;

$color-nearly-white: #dddddd;
$color-dark-grey: #2c3e50;
$color-nearly-black: #343434;

$spacing-xs: 10px;
$spacing-s: 20px;
$spacing-m: 40px;
$spacing-l: 60px;